.quiz-image {
  background-size: cover;
  height: 200px;
  width: 100%;
  line-height: 350px;
  font-weight: bold;
  font-size: 20px;
  color: dodgerblue;
}

.Gallery__slide > * {
  width: auto !important;
}
.align-cetner {
  align-items: center;
}
